:root {
  --pr-color: #6b3cc9;
  --bg-color: #ffffff;
  --snd-color: #f28d35;
}

.container-fluid {
  background-color: var(--pr-color);
  /* margin: 0; */
  /* top: 0; */
  padding: 15px 20px 15px 20px;
}

.navbar-brand img {
  width: 238.89px;
  height: 36.11px;
  /* top: -11.11px; */
  gap: 0px;
  opacity: 0px;
}
.navbar-expand-lg {
  padding: 0px;
}
.nav-link {
  color: var(--bg-color);
  padding: 26px, 80px, 26px, 80px;
}

.hero {
  border: none;
  height: 770px;
}
.card-img-overlay {
  width: 630px;
  height: 306px;
  top: 354px;
  left: 80px;
  padding: 24px 40px 32px 40px;
  gap: 20px;
  opacity: 0px;
  background: linear-gradient(256.73deg, #1cbddd 27.86%, #4dca79 100%), #ffffff;
}
.card-img {
  border-radius: 0;
  padding: 0;
}
.card-text {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--bg-color);
}
.btn {
  background: var(--snd-color);
  border: none;
  border-radius: 0;
}

.service {
  background-color: var(--bg-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.service-card {
  /* border: none; */
  width: 1064px;
  height: 414px;
  margin-left: 150px;
}
.servicecard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* padding: 2rem; */
}
@media (max-width: 375px) {
  .servicecard-img {
    width: 275px;
    height: 275.82px;
    object-fit: cover;
  }
  .card-body {
    width: 335px;
    height: 277px;
  }
}
.card-title {
  color: var(--pr-color);
  font-size: 27px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  padding-bottom: 1rem;
}
.service-card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
@media (max-width: 1200px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 40%;
  }

  .card-img-overlay {
    width: 556px;
    height: 300px;
    gap: 0px;
  }

  .card-img {
    width: auto;
    height: 700px;
  }
}

/* @media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 40%;
  }

  .card-img-overlay {
    width: 768px;
    left: 0;
    opacity: 0px;
  }

  .card-img {
    width: 768px;
    height: auto;
  }
  .service-card{
    margin-left: 0;
    margin-top: 10rem;
    width: 768px;
  }

  .accordion{
    width: 300px;
    height: 506px;
    
  }
} */

.col-6 {
  padding-top: 2rem;
}
.card-body {
  padding-top: 150px;
}

.accordion {
  width: 846px;
  height: 392px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.faq-title {
  text-align: center;
  color: var(--pr-color);
  margin-bottom: 20px;
  font-size: 27px;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}
.accordion-button {
  background-color: #faf8ff;
}
.accordion-item {
  background-color: #faf8ff;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}
.accordion-body {
  color: #6f6c90;
}

@media (max-width: 768px) {
  .accordion-item {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .accordion-item {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .accordion-item {
    width: 100%;
  }
}

@media (max-width: 325px) {
  .accordion-item {
    width: 50%;
  }
}

.footer-logo {
  width: 238.89px;
  height: 36.11px;
  top: -11.11px;
  gap: 0px;
  opacity: 0px;
}

.footer {
  background-color: var(--pr-color);
  color: var(--bg-color);
  margin-top: 20px;
}

.text {
  text-align: left;
}
